body, html { 
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    }

h1,h2 {
    text-align: center;
    font-size: 60px;
} 

button{
    text-align: center;
    background-color: Transparent;
    height: 50px;
    width: 100px;
    background-color: rgb(47, 133, 90);

}

.center {
    margin-left: auto;
    margin-right: auto;
}


